<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lejit.thetravellingman">

    <application
        android:allowBackup="true"
        android:icon="@drawable/singapore_skyline_ting"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layoutActivity"
            android:label="@string/title_activity_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".itineraryActivity"
            android:label="@string/title_activity_itinerary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivityJason"
            android:label="@string/title_activity_main_Jason"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>